<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173579297382-ffr7checi8qek8siompvjng3p4u4kq3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173579297382-ffr7checi8qek8siompvjng3p4u4kq3s</string>
	<key>API_KEY</key>
	<string>AIzaSyB9jdkvpM7sSe1ZW0--mFfKo2-ipogn2k8</string>
	<key>GCM_SENDER_ID</key>
	<string>173579297382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.broshop.broshopApp</string>
	<key>PROJECT_ID</key>
	<string>broshopapp</string>
	<key>STORAGE_BUCKET</key>
	<string>broshopapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173579297382:ios:41bb1be7539f103e8ec3a7</string>
</dict>
</plist>